:root {
  --primary-color: #0d66ff;
  --primary-dark-color: #1152c1;
  --green-color: #34a853;
  --green-dark-color: #2a8743;
  --green-light-color: #d9f5e1;
  --red-color: #ea4335;
  --red-light-color: #ffcbcbcf;
  --background-color: #e8ecf2;
  --background-dark-color: #d1dcec;
  --gray-color: #a5aab5;
  --gray-light-color: #d0d0d1e4;
  --black-color: #434343;
  --black-light-color: #797979;
  --blue-background-color: #84b1ed;
  --purple-background-color: #b0a0ff;
  --green-background-color: #82d999;
  --white-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
